[submodule "static/bootstrap"]
	path = static/bootstrap
	url = https://github.com/twitter/bootstrap
[submodule "static/fa"]
	path = static/fa
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "static/wookmark"]
	path = static/wookmark
	url = git://github.com/GBKS/Wookmark-jQuery.git
[submodule "static/smartresize"]
	path = static/smartresize
	url = https://github.com/louisremi/jquery-smartresize
[submodule "static/imagesloaded"]
	path = static/imagesloaded
	url = https://github.com/desandro/imagesloaded
