<!DOCTYPE html>
<html lang="en" ng-app="PNXApp">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="/static/fileapi.js"></script>
    <script src="/static/admin.js"></script>
    <meta charset="utf-8">
    <title>Photo Engine X Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Photo Engine X">
    <meta name="author" content="Tor Hveem">

    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/fa/css/font-awesome.css" rel="stylesheet">
    <link href="/static/screen.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link rel="icon" type="image/png" href="/static/favicon.png">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body class="{{ bodyclass }}" ng-controller="AlbumListCtrl">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <h1><span class="blue">Photo Engine X</span> Administration <small class="pull-right">{{ images.nrofimages }} images in {{ images.albums.length }} albums</small></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header" title="When images are uploaded, they are processed in the background. Generation meta data and creating thumbnails and such. This counter shows you how many images are still waiting to be processed">Processing queue</li>
                        <li id="li-queue">
                        <span class="blue" ng-bind="images.queueCount"></span> images in the queue
                        </li>
                        <li class="nav-header">New album</li>
                        <li>
                            <form class="uploadform" ng-submit="submitNewAlbum()" class="form-inline"> 
                                <label >New album</label>
                                <div class="input-append">
                                    <input id="albumname" text="text" class="input-small" ng-model="albumname" name="album" placeholder="Name">
                                    <button type="submit" class="button-add-album btn pull-right btn-primary btn-mini"><i class="icon-plus"></i></button>
                                </div>
                            </form>
                        </li>
                        <li class="nav-header">Albums</li>
                        <li class="li-nav-album" ng-repeat="album in images.albums" ng-mouseover="mouseOverAlbum(album)" ng-click="clickAlbum(album)">
                            <a href="#">
                                <span class="badge pull-right" title="Number of images in album">{{ images.imagecount[album] }}</span>
                                <i class="icon-picture"></i>
                                {{ album }}
                            </a>
                            <div class="btn-group animate-show" ng-show="selectedAlbum==album">
                                <a class="btn btn-success" href="#" title="Add more images to album"><i class="icon-plus"></i></a>
                                <a id="talbum/{{album}}" href="#" class="albumtemp   btn " title="Create expirable album link">
                                    <i class="icon-time"></i></a>
                                <a id="lalbum/{{album}}" href="#" class="albummodify btn            "><i class="icon-pencil"></i></a>
                                <a href="/admin/api/album/remove/{{ tags[album]}}/{{album}}" title="Remove album and all images. Warning: No confirmation dialog"  class="link-album-remove btn  btn-danger"><i class="icon-remove"></i></a>
                            </div>
                        </li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                <div id="admincontent" class="span9">
                  <div ng-hide="selectedAlbum">
                    <h1>Welcome to the Admin pages</h1>
                        Here you can
                        <ul>
                          <li>Create new albums</li>
                          <li>Modify existing albums (delete pictures, etc)</li>
                          <li>Delete albums</li>
                          <li>Create new display links for guests</li>
                        </ul>
                        Please select an album in the left menu to start.
                  </div>
<div id="albumcontainer">
    <div class="uploadcontainer" ng-show="uploading">
      <div class="small pull-right"><a href="#" ng-click="fileSelect = true">Alternate upload</a></div>

      <div id="fileDrop">
        <p>Drop files here to upload</p>
      </div>


      <div ng-show="fileSelect" id="fileSelect">
        <div class="small pull-right"><a href="#" id="fileSelect-hide" ng-Click="fileSelect = false">Hide alternate upload</a></div>
        <p>
        <form action="" method="post" enctype="multipart/form-data">
          <div class="controls">
            <input class="input-file" type="file" id="fileField" name="fileField" multiple value="Browse..."/>
          </div>
        </form>
        </p>
        <p>
        <a id="upload" class="btn" href="#" title="Upload all files in list">Upload files</a>
        <a id="reset" class="btn" href="#" title="Remove all files from list">Clear list</a>
        </p>
      </div>

      <h6><div id="fileCount"></div></h6>

      <div id="files">
        <ul id="fileList"></ul>
      </div>

    </div>
<div class="adminalbum" ng-show="selectedAlbum">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>tag</th>
            <th>created</th>
            <th>expires</th>
            <th>album direct link</th>
            <th>album portal link</th>
        </tr>
        <tr ng-repeat="(key, val) in images.accesskeysh[selectedAlbum]">
            <td>{{ key}}</td>
            <td>{{ val[0] }}</td>
            <td>{{ val[1] }}</td>
            <td><a href="/album/{{ key }}/{{selectedAlbum}}/">/album/{{ key }}/{{selectedAlbum}}/</td>
            <td><a href="/albums/{{ key }}/{{selectedAlbum}}/">/albums/{{ key }}/</td>
        </tr>
    </table>
    <div class="items">
        <div class="item" ng-repeat="(img, thumb) in images.thumbs[selectedAlbum]">
            <a id="image-{{ i }}" href="/img/{{ images.all[img].atag }}/{{ img }}" class="lb">
              <img class="adminthumb" src="/img/{{ images.all[img].atag }}/{{ thumb }}">
            </a>
            <div class="admin-label">
                <a class="btn btn-mini btn-danger link-image-remove" href="/admin/api/img/remove/?album={{ selectedAlbum }}&amp;image={{ images.all[img].file_name }}">
                <i class="icon-remove"></i> 
                </a>
            </div>
        </div>
    </div>
</div>
</div>
                </div>
            </div>
        </div>
        <hr>

    </div>

<div class="modal hide fade">
    <form id="form-ttl" method="GET" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Create expirable album link</h3>
    </div>
    <div class="modal-body">
        <p>Create a link that expires after a time</p>

            <div class="control-group">
                <label class="control-label" for="ttl">Time to live</label>
                <div class="controls">
                    <select name="ttl" class="input-xlarge" id="ttl">
                        <option value="3600"
                        >One hour</option>
                        <option value="86400"
                        selected="selected"
                        >One day (default)</option>
                        <option value="604800"
                        >One week</option>
                        <option value="18748800"
                        >One month</option>
                        <option value="112492800"
                        >Six months</option>
                        <option value="31536000"
                        >One year</option>
                        <option value="forever"
                        >Forever</option>
                    </select>

                    <p class="help-block">The link will automatically be inaccessible if <i>time to live</i> is exceeded.</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="name">Name the link</label>
                <div class="controls">
                    <input type="text" name="name" placeholder="Name">
                    <p class="help-block">The name will be used in the link.</p>
                </div>
            </div>

            <input id="input-album-name" type="hidden" name="album"></input>
    </div>
    <div class="modal-footer">
        <!--<a href="#" class="btn">Close</a>-->
        <button type="submit" class="btn btn-primary">Create link</a>
    </div>
    </form>
</div>


    <script src="/static/md5.js"></script>
    <script>
        pnxadmin = pnxadmin();
    </script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                &copy; 2012-2013 Tor Hveem
            </div>
        </div>
    </div>
    <footer>
    </footer>

    <!--<script src="/static/bootstrap/js/bootstrap.js"></script>-->
    <script type="application/javascript" src="/static/smartresize/jquery.debouncedresize.js"></script>
    <script type="application/javascript" src="/static/imagesloaded/jquery.imagesloaded.min.js"></script>
    <script type="application/javascript" src="/static/wookmark/jquery.wookmark.min.js"></script>
    <script type="application/javascript" src="/static/photongx.js?v=4"></script>
  </body>
</html>

