    {( "header.html" )}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <h1><span class="blue">Photo Engine X</span> Administration <small class="pull-right">{{ imagecount}} images in {{ #albums }} albums</small></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Albums</li>
                        <li>
                            <form class="form-inline" action="{{ BASE }}upload/"> 
                                <label >New album</label>
                                <input text="text" name="album" placeholder="Name">
                                <button type="submit" class="btn pull-right btn-primary btn-mini"><i class="icon-plus"></i></button>
                            </form>
                        </li>
                        {% for i, album in ipairs(albums) do %}
                        <li>
                            <div class="btn-group pull-right">
                                <a id="lalbum-{{album}}" href="#" class="albummodify btn btn-mini           "><i class="icon-pencil"></i></a>
                                <a href="{{ BASE}}api/album/remove/{{ tags[album]}}/{{album}}" class="link-album-remove btn btn-mini btn-danger"><i class="icon-remove"></i></a>
                            </div>
                            <a href="{{ BASE}}{{ tags[album] }}/{{ album }}/">
                                {{ album }}
                            </a>
                        </li>
                        {% end %}
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                <div id="admincontent" class="span9">

                    <div class="uploadcontainer">

                        <div class="hero-unit">
                            <h1>Upload<small>to album <a href="{{BASE}}{{tag}}/{{album}}/">{{ album }}</a></h1>
                                <div class="small pull-right"><a href="#" id="fileSelect-show"> Alternate upload</a></div>
                            </div>

                            <div id="fileDrop">
                                <p>Drop files here to upload</p>
                            </div>


                            <div id="fileSelect" class="hidden">
                                <div class="small pull-right"><a href="#" id="fileSelect-hide">Hide alternate upload</a></div>
                                <p>
                                <form action="" method="post" enctype="multipart/form-data">
                                    <div class="controls">
                                        <input class="input-file" type="file" id="fileField" name="fileField" multiple value="Browse..."/>
                                    </div>
                                </form>
                                </p>
                                <p>
                                <a id="upload" class="btn" href="#" title="Upload all files in list">Upload files</a>
                                <a id="reset" class="btn" href="#" title="Remove all files from list">Clear list</a>
                                </p>
                            </div>

                            <div id="files">
                                <ul id="fileList"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

<div id="albumcontainer">
{% for i, albumname in ipairs(albums) do %}
<div id="album-{{albumname}}" class="adminalbum hidden">
    {% for i, image in ipairs(images[albumname]) do %}
    {% local tag = tags[albumname] %}
    <div class="item">
        <a id="image-{{ i }}" href="{{ BASE }}img/{{tag}}/{{ ngx.re.sub(image, '_', '/fs/') }}" class="lb">
            <img class="adminthumb" _src="{{ BASE }}img/{{tag}}/{{ ngx.re.sub(image, '_', '/') }}">
        </a>
        <div class="admin-label">
            <a class="btn btn-mini btn-danger link-image-remove" href="{{ BASE}}/api/img/remove/{{albumname}}/{{ image }}">
            <i class="icon-remove"></i> 
        </a>
    </div>
    </div>
    {% end %}
</div>
{% end %}
</div>

<script src="{{BASE}}static/md5.js"></script>
<script>
    var images = {{ imagesjs }};
    var albums = {{ albumsjs }};
    var tags = {{ tagsjs }};
</script>
<script src="{{BASE}}static/admin.js"></script>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            &copy; 2012 Tor Hveem
        </div>
    </div>
</div>
    {( "footer.html" )}

