    {( "header.html" )}

    <div class="album-label">
        <i class="icon-camera-retro"></i> {{ album}}
    </div>
    <div id="items" class="items">
        {% for i, image in ipairs(imagelist) do %}
        <div class="item">
            <a id="image-{{ i }}" href="{{ BASE }}img/{{tag}}/{{ image }}" class="lb">
                <img src="{{ BASE }}img/{{tag}}/{{ thumbs[image] }}">
            </a>
        </div>
        {% end %}

    </div>
    <div id="spinner" class="spinner">Loading ...</div>
    <script>
        var album = '{{album}}';
        var BASE = '{{BASE}}';
        var showimage = {% if showimage then %}{{showimage}}{% else %}null{% end %};
        $(document).on("ready", function (evt) {
            pnx = photongx();
            if (showimage) {
                pnx.createLB();
                pnx.navigateImage(showimage);
                pnx.showLB();
            }
        });
    </script>

    {( "footer.html" )}

