{
    "path": {
        "base": "/photongx/",
        "image": "/img"
    },
    "redis": {
        "unix_socket_path": "/var/run/redis/redis.sock"
    },
    "photos": {
        "thumb_max": 640,
        "huge_max": 2000,
        "quality": 70
    }
}
