{
    "path": {
        "base": "/photongx/",
        "image": "/img"
    },
    "redis": {
        "unix_socket_path": "/var/run/redis/redis.sock"
    },
    "postgresql": {
        "connstring": "dbname='pix' user='pix' host='127.0.0.1' password='pixplzpixplzpixplz'"
    },
    "photos": {
        "thumb_max": 640,
        "huge_max": 2000,
        "quality": 70
    },
    "admin": "emailaddress@persona"
}
