@import "variables.less";
/* disable transitons 
.item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.item {
  -webkit-transition-property: left, top;
     -moz-transition-property: left, top;
      -ms-transition-property: left, top;
       -o-transition-property: left, top;
          transition-property: left, top;
}

.item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
.transition {
    transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); // ease (default) 
}
*/

.backgrounded {
    -webkit-filter: blur(6px);
        -ms-filter: blur(6px);
         -o-filter: blur(6px);
            filter: blur(6px);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'5\'/></filter></svg>#blur"); /* Firefox 10+, Firefox on Android */
-webkit-transition: all 0.3s ease-out; 
   -moz-transition: all 0.3s ease-out; 
    -ms-transition: all 0.3s ease-out; 
     -o-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:  0; 
    left: 0; 
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 100%; 
    max-height: 100% !important; 
    z-index: 2;

  .action-group {
    position:fixed; 
    top:  0; 
    right: 0;
    text-align:right; 
    z-index: 5;
    font-size: 1.6em;
    padding: 5px;

    background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);

    a {
      margin: 5px;
      color: rgba(255,255,255,0.9);
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      text-decoration: none;
    }
  }
  #prev {
      left: 0;
  }
  #prev, #next {
    width: 10%;
    height: 100%;
    position: fixed;
    color:#fff; 
    z-index: 4;
    font-size: 2em;
    top: 0;
    padding: 0;
    margin: 0;
    color: transparent;

  }
  #next:hover, #prev:hover {
    background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
    color: white;
  }
  #next {
      right: 0;
  }
  #next div, #prev div {
      position: fixed;
      top: 50%;
      padding: 4%;
  }
  // Position image in center
  img {
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
  }
  img {
    -webkit-box-shadow:0 0 120px black;
       -moz-box-shadow:0 0 120px black;
            box-shadow:0 0 120px black;
    border: 5px solid black;
    //height: 100%;
    //width: auto;
  }
  img:hover {
  }
  img {
    //height: auto;
    //width: 100%;
  }
}
#lbcontent {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:  0; 
    left: 0; 
    right: 0;
    bottom: 0;
    // Fade whatever the lb is in top of
    background: rgba(0, 0, 0, 0.8);
}
#spinner {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    height: 200px;
    width: 200px;
    text-indent: 250px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background: url(spinner.png);
    /*
    -webkit-mask-image: url(spinner.png);
    -moz-mask-image: url(spinner.png);
    */
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-moz-keyframes spinnerRotate {
    from {
        -moz-transform:rotate(0deg);
    }
    to {
        -moz-transform:rotate(360deg);
    }
}
@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

.lbimg {
    -webkit-transition: opacity 0.3s ease-in; 
       -moz-transition: opacity 0.3s ease-in; 
         -o-transition: opacity 0.3s ease-in; 
            transition: opacity 0.3s ease-in; 

    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-backface-visibility: hidden;
    -moz-perspective: 1000;
    -o-backface-visibility: hidden;
    -o-perspective: 1000;
    -backface-visibility: hidden;
    -perspective: 1000;
}
