body {
  background: #0a0711;
  font-family: 'Open Sans', sans-serif;
}
.container {
    background: white;
}
.album-label {
    background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
    color white;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
}
.album-label:hover {
    background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.50);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.50);
          box-shadow: 0 2px 10px rgba(0,0,0,.50);
}
.album-label h2, .album-label a {
    color: rgba(255,255,255,0.9);
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    margin-left: 10px;
    margin-right: 5px;
}
.items {
    width: 100%;
}
.item {
    margin: 3px;
    padding: 0;
    background: #211e27;
    position: relative;
    max-width:320px;
    float: left;
}
.isotope,
.isotope .isotope-brick {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
#fileDrop {
    color: #3a87ad;
    border: dashed 8px #333;
    background-color: #d9edf7;
}
#fileDrop p {
    padding: 95px;
    font-size: 1.6em;
    margin: 10px;
}
