// Core variables and mixins
@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

// Reset
@import "bootstrap/less/normalize.less";
@import "bootstrap/less/print.less";

// Core CSS
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/code.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/tables.less";
@import "bootstrap/less/forms.less";
@import "bootstrap/less/buttons.less";
// Components
@import "bootstrap/less/navs.less";
@import "bootstrap/less/navbar.less";
// Utility classes
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/responsive-utilities.less";
@import "variables.less";


:-webkit-full-screen {
    background: @background;
}

html, body, .modal-content {
  font-family: "Tahoma", sans-serif;
  background: @background;
  color: @fg;
}
a, a:hover, a:focus {
  color: @blue;
  text-decoration: none;
}
.btn:hover, .btn:focus, .btn.active {
    color: @fg;
}
.header, table {
  margin-bottom: 15px;
}
#about {
    ul {
        text-align: left;
        margin-bottom: 40px;
        margin: none;
    }
    li {
      font-size: larger;
      list-style-type: none;
      margin: 0;
      i { 
        margin-right: 5px;
      }
    }
    .actions {
        text-align: justify;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .footer {
        text-align: left;
        color: #999;
    }
    img {
        max-width: 100%;
    }

}
.label-bg (@opacity: 0.25) {
   background: rgba(0, 0, 0, @opacity*1.5);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0, @opacity);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0, @opacity);
          box-shadow: 0 2px 10px rgba(0,0,0, @opacity);
    color: white;
}
.album-label, .admin-album-label {
    .label-bg;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
}
    .album-label:hover, .item:hover .album-label {
        .label-bg(0.50);
    }
    .album-label, .album-label a, .album-label a:hover {
        color: rgba(255,255,255,0.9);
        text-shadow: 0 -1px 0 rgba(0,0,0,.5);
        font-size: 1.6em;
        padding: 15px;
        padding-left: 5px;
        text-transform: capitalize;
    }
.thumb-label {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    .label-bg(0.4);
}
.admin-album-label, .admin-label {
    color: white;
    z-index: 1;
    position: absolute;
    top: 0;
}
.item:hover .admin-label, .item:hover .thumb-label {
    display: block;
}
.admin-label {
    display:none;
    right:0;
}
.aitem {
    pointer: cursor;
}
.items {
    width: 100%;
    position: relative;
}
.backgrounded {
    -webkit-filter: blur(6px);
       -moz-filter: blur(6px);
        -ms-filter: blur(6px);
         -o-filter: blur(6px);
            filter: blur(6px);
}
.item {
    float: left;
}
#fileDrop {
    color: #3a87ad;
    border: dashed 8px #333;
    background-color: #d9edf7;
}
#fileDrop p {
    padding: 95px;
    font-size: 1.6em;
    margin: 10px;
}
#fileList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.progress {
    margin-bottom: 0;
}
.login {
    max-width: 330px;
    padding: 15px;
    padding-top: 40px;
    margin: 0 auto;
}


.blue {
    color: @blue;
}    
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: @blue;
}
.item:hover {
  -webkit-box-shadow: 0 0 10px @blue;
     -moz-box-shadow: 0 0 10px @blue;
          box-shadow: 0 0 10px @blue;
}
.gray {
    color: #333;
}       
.white {
    color: white;
    text-shadow: 1px 0px 4px #ffffff;
}

.adminthumb {
    max-width:180px;
}
body.admin .item {
    margin-right: 4px;
}

/* TRANSITION */
.te-perspective{ 
    -webkit-perspective: 1000;
}
.te-cover,
.te-transition{
    -webkit-transform-style: preserve-3d;
}
.te-cover.te-hide,
.te-transition,
.te-images{ display: none; }
.te-transition.te-show{ display: block; }
.te-cube-face{
    position: absolute;
    display: block;
    overflow: hidden;
}
.te-back,
.te-front{
    position: absolute;
    -webkit-backface-visibility: hidden;
}
.te-front{ z-index: 2; }
.te-back{ z-index: 1; }

/***************** Cube4 ********************/
.te-cube4 .te-cube-front{
    -webkit-transform: scale3d(.858,.858,.858) translate3d(0,0,164px);
}
.te-cube4 .te-cube-left{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,-90deg) translate3d(0,0,164px);
}
.te-cube4 .te-cube-right{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,90deg) translate3d(0,0,164px);
}
.te-cube4 .te-cube-top{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(1,0,0,90deg) translate3d(0,0,164px);
}
.te-cube4 .te-cube-bottom{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,-90deg) translate3d(0,0,164px);
}
.te-cube4.te-show{
    -webkit-animation: cube4 0.5s ease-in-out;
}
@-webkit-keyframes cube4{
    0% { -webkit-transform: rotate3d(0,1,0,0); }
    100% { -webkit-transform: rotate3d(0,1,0,90deg); }
}
.hidden {
    display: none;

}
.btn {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background: #505050; /* Old browsers */
    background: -moz-linear-gradient(top, #505050 0%, #2b2b2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #505050 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #505050 0%,#2b2b2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #505050 0%,#2b2b2b 100%); /* IE10+ */
    background: linear-gradient(top, #505050 0%,#2b2b2b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
    color: #999;
}
.btn-primary {
    color: @blue;
}
.btn-success {
    color: #47A447;
}
.btn-danger {
    color: #D9534F;
}
.btn-grey {
    background-color: #DDD;
}
input, .form-control, .badge {
    border: 0;
    border-radius: 0;
    color: #ccc;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.8) inset;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
}
body.admin table {
    width: 100%;
    margin-bottom: 15px;
}
td {
    padding: 5px;
}
.sidebar {
  background-color: #222;
  margin-bottom: 30px;
}
.sidebar, th {
  padding: 5px;
}
.sidebar-nav {
  padding-bottom: 30px;
  li a.btn {
  }
  li a:hover { 
    color: #222; 
  }
}
.li-nav-album, .li-nav-album>a {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4);
    color: @fg;
    font-weight: bold;
}
.nav-header {
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.vertical-line {
    -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
       -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
            box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
            border-bottom: 1px solid #121212;
}
.horizontal-line, .horizontal-line-top, .modal-header, th {
-webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
   -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
        box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
}
.horizontal-line, .modal-header, th {
    border-bottom: 1px solid #121212;
}
.horizontal-line-top, .modal-footer {
    border-top: 1px solid #121212;
}

.ph {
    padding: 15px;
    min-height: 50px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15);
    background-color: #563D7C;
    border-color: #463265;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);

    background-color: #222;
    border-color: #080808;
    border-width: 0px 0px 1px;
}

@import "lightbox.less";
