body {
  font-family: 'Open Sans', sans-serif;
}
body.gallery {
  background: #0a0711;
  padding: 0;
  }
.container {
    background: white;
}
.admin-label {
    color: white;
    position: absolute;
    top: 0;
    right:0;
    z-index: 1;
}
.album-label {
    background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
    color: white;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
}
    .album-label:hover, .item:hover .album-label {
        background: black;
        background: rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.50);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.50);
              box-shadow: 0 2px 10px rgba(0,0,0,.50);
    }
    .album-label, .album-label a {
        color: rgba(255,255,255,0.9);
        text-shadow: 0 -1px 0 rgba(0,0,0,.5);
        font-size: 1.6em;
        padding: 15px;
        padding-left: 5px;
        text-transform: capitalize;
    }
.items {
    width: 100%;
    position: relative;
}
    .backgrounded {
		-webkit-filter: blur(6px);
		   -moz-filter: blur(6px);
		    -ms-filter: blur(6px);
		     -o-filter: blur(6px);
		        filter: blur(6px);
                opacity: 0.2;
    }
.item {
    margin: 3px;
    padding: 0;
    background: #211e27;
    position: relative;
    max-width: auto;
    max-width: 480px;
    float: left;
}
#fileDrop {
    color: #3a87ad;
    border: dashed 8px #333;
    background-color: #d9edf7;
}
#fileDrop p {
    padding: 95px;
    font-size: 1.6em;
    margin: 10px;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
:-webkit-full-screen {
    background: black;
}

.transition {
    transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

#content {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:  0; 
    left: 0; 
    right: 0;
    bottom: 0;
}
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:  0; 
    left: 0; 
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: auto;
    max-width:100%; 
    max-height:100% !important; 
    text-align:center;
    z-index: 2;
}
#lightbox p {
    position:fixed; 
    top:  0; 
    right: 0;
    text-align:right; 
    color:#fff; 
    z-index: 5;
    font-size: 1.6em;
}
#lightbox p a {
    margin: 5px;
}
#lightbox #prev {
    left: 0;
}
#lightbox #prev, #lightbox #next {
    width: 10%;
    height: 100%;
    position: fixed;
    color:#fff; 
    z-index: 4;
    font-size: 2em;
    top: 0;
    padding: 0;
    margin: 0;
    color: transparent;
}
#lightbox #prev:hover, #lightbox #next:hover {
    background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
    color: white;
}
#lightbox #next {
    right: 0;
}
#lightbox #next div, #lightbox #prev div {
    position: fixed;
    top: 50%;
    padding: 4%;
}
#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    border-left: 5px solid black;
    border-right: 5px solid black;
    max-width:100%;
    height: 100%;
}

#spinner {
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    height: 200px;
    width: 200px;
    text-indent: 250px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background: url(spinner.png);
    /*
    -webkit-mask-image: url(spinner.png);
    -moz-mask-image: url(spinner.png);
    */
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spinnerRotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-moz-keyframes spinnerRotate {
    from {
        -moz-transform:rotate(0deg);
    }
    to {
        -moz-transform:rotate(360deg);
    }
}
@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}


 .bear-color, .bear {
        color: #abad6a;
    }    .blue {
        color: #3ea8f4;
    }    .gray {
        color: #333;
    }       

.adminthumb {
    max-width:180px;
}
.adminthumb.hidden {
    display: none;
}

/* TRANSITION */
.te-perspective{ 
    -webkit-perspective: 1000;
}
.te-cover,
.te-transition{
    -webkit-transform-style: preserve-3d;
}
.te-cover.te-hide,
.te-transition,
.te-images{ display: none; }
.te-transition.te-show{ display: block; }
.te-cube-face{
    position: absolute;
    display: block;
    overflow: hidden;
}
.te-back,
.te-front{
    position: absolute;
    -webkit-backface-visibility: hidden;
}
.te-front{ z-index: 2; }
.te-back{ z-index: 1; }

/***************** Cube4 ********************/
.te-cube4 .te-cube-front{
    -webkit-transform: scale3d(.858,.858,.858) translate3d(0,0,164px);
}
.te-cube4 .te-cube-left{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,-90deg) translate3d(0,0,164px);
}
.te-cube4 .te-cube-right{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,90deg) translate3d(0,0,164px);
}
.te-cube4 .te-cube-top{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(1,0,0,90deg) translate3d(0,0,164px);
}
.te-cube4 .te-cube-bottom{
    -webkit-transform: scale3d(.858,.858,.858) rotate3d(0,1,0,-90deg) translate3d(0,0,164px);
}
.te-cube4.te-show{
    -webkit-animation: cube4 0.5s ease-in-out;
}
@-webkit-keyframes cube4{
    0% { -webkit-transform: rotate3d(0,1,0,0); }
    100% { -webkit-transform: rotate3d(0,1,0,90deg); }
}
