html * {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; /* turn off default press states */
  -webkit-touch-callout: none;              /* disable save image on long press */
  -webkit-user-select: none;                /* disable selection copy/paste */
  -webkit-user-drag: none;                  /* disable dragging images */
  }
body {
  background: #0a0711;
  font-family: 'Open Sans', sans-serif;
}
.container {
    background: white;
}
.album-label {
    background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
    color white;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
}
.album-label:hover {
    background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.50);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.50);
          box-shadow: 0 2px 10px rgba(0,0,0,.50);
}
.album-label h2 {
    color: rgba(255,255,255,0.9);
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    margin-left: 15px;
    margin-right: 5px;
}
.items {
    width: 100%;
}
.item {
    float: left;
    margin: 3px;
    padding: 0;
    background: #211e27;
    width: 32.8%;
}
.item img {
}
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

